@import "../globals/variables";

.cards-grid{
	margin-bottom: 50px;
	h2{
		font-family: $main-font;
		font-size:  $h-portofolio-size;
	}

	p{
		font-family: $main-font;
		font-size: $portofolio-desc-size;
	}

	.card-body{
		font-family: $second-font;

		button{
			margin-top:10px;
		}
	}

	.card-model-1{
		margin-top: 20px;
	}
}

.effect {
	button {
		background-color: $main-color;
		border: $main-color;
		&:hover {
			background-color: $main-color;
			border: $main-color;
		}
	}
}
.scale-effect {
	transition: transform 0.3s ease;
	&:hover {
		transform: scale(1.1);
	}
}
.shadow-effect {
	transition: all 0.3s ease;
	box-shadow: $single-product-shadow;
	&:hover {
		box-shadow: $single-product-shadow-hover;
	}
}
.visibility-effect {
	transition: opacity 0.3s ease;
	opacity: 0.8;
	&:hover {
		opacity: 1;
	}
}