@import "../globals/variables";

.cart {
  cursor: pointer;
  position: fixed;
  bottom: 75px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: var(--main-color);
  color: var(--plain-white);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease-in-out;
  animation-duration: 4s;
  &:hover {
    transform: scale(1.1);
  }

  .product-count {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 10px;
    height: 10px;
    text-align: center;
    border-radius: 100%;
    font-size: 9px;
  }
}

.main-cart {
  .modal-header {
    border-bottom: 2px solid #eef0f4 !important;

    .modal-title {
      font-family: $arimo;
    }
  }

  .overflow {
    height: 262px;
    overflow-y: auto !important;
    overflow-x: unset !important;
  }

  .cart-products {
    .cart-product {
      margin: 10px 0 10px 0;
      padding-bottom: 20px;
      position: relative;
      border-bottom: 1px solid #eef0f4;
      width: 450px;
      .single-product-descriptions {
        padding: 0 35px;
        font-family: $arimo;

        .stock-label {
          margin-bottom: 5px;
          padding-left: 5px;
          max-width: 100px;
          font-size: $a-mobile;
          background: $bg-green;
          color: $green;
        }
      }

      .single-product-price {
        font-family: $arimo;
        font-size: $h5-mobile;
        .price-single {
          position: absolute;
          right: 10px;
        }
      }

      .single-product-image {
        img {
          width: 140px;
          height: 100px;
        }
      }
    }

    .cart-qty {
      position: absolute;
      top: 50%;
      right: 0;
      span {
        margin-left: 10px;
      }

      button {
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 50%;
        border: none;
        background: #f5f5f5;
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        vertical-align: middle;
      }

      button:last-child {
        margin-left: 10px;
      }
    }
  }

  .cart-table {
    margin-bottom: 10px;
    color: #707386;
    font-family: $arimo;
    font-size: 17px;
    border-bottom: 1px solid #eef0f4;
    .cart-row {
      padding: 5px 0;
    }
  }

  .cart-total {
    padding-top: 10px;
    font-family: var(--arimo-font);
    font-weight: bold;
    font-size: 17px;
    color: #212529;
  }
}

.empty-cart {
  padding: 20px 50px 20px 50px;
  color: $main-color;
  text-align: center;
  h2 {
    font-family: $second-font;
  }

  svg {
    font-size: 250px;
  }
}
