@import "../globals/variables";

.menu-1{
	margin-bottom: 20px;
	h2{
		font-family: $main-font;
		font-size: $h-portofolio-size;
	}
}

.portfolio-navbar {
	margin-top: 10px;
	ul {
		display: flex;
		justify-content: space-around;
		flex-wrap: nowrap;
		padding: 0 0;
		border-radius: 100px;
		width: 100%;
	}
	li {
		position: relative;
		padding: 16px 0;
		box-sizing: border-box;
		display: inline-block;
		background-color: $navbar-black;
		color: $plain-white;
		font-family: $main-font;
		font-size: $icon-size;
		width: 26%;
		text-align: center;
		overflow: hidden;
		transition: 0.25s ease-in-out;
		a {
			position: relative;
			color: $plain-white;
			text-decoration: none;
			padding-bottom: 2.5px;
		}
		.active {
			border-bottom: 2px solid $plain-white;
		}
		&:first-child {
			border-radius: 100px 0 0 100px;
		}
		&:last-child {
			border-radius: 0 100px 100px 0;
		}
		&:hover {
			background-color: $main-color;
		}
	}
	.active-parent {
		background-color: $main-color;
	}
	.active {
		li {
			border-bottom: 2px solid $plain-white;
		}
	}
	svg {
		position: relative;
		left: 5px;
	}
}
