@import "../globals/variables";
.my-skills {
	padding: 55px 0 65px 0;
	h2 {
		font-family: $main-font;
		font-size: $h2-size;
		font-style: normal;
		font-weight: 400;
		line-height: 0.91;
		letter-spacing: normal;
	}
	.skill-row {
		margin: 50px 0 0 0;
		.col-lg-6,
		.col-sm-12{
			padding: 0;
		}
		.skills-box {
			margin: 0 0 40px 0;
			h5 {
				margin-bottom: 0;
				font-family: $main-font;
				font-size: $h5-size;
				color: $main-color;
				text-transform: uppercase;
				font-weight: 400;
			}
		}
	}
}
  