@import "../globals/variables";
.oa {
    padding-bottom: 50px;
  }
  
  .image img {
    width: 496px;
  }
  
  .company-name {
    margin-top: 150px;
    h1 {
      font-family: $main-font;
      font-size: $h1-size;
      font-style: normal;
      font-weight: 400;
      line-height: 0.91;
      letter-spacing: normal;
    }
    a {
      font-family: $main-font;
    }
    p {
      padding: 30px 0;
      font-family: $third-font;
      font-size: $p-size;
      font-style: normal;
      font-weight: 400;
      line-height: 1.55;
      letter-spacing: normal;
    }
    span {
      display: block;
    }
  }
  .company-contact {
    a {
      font-family: $third-font;
      background-color: $main-color;
      font-size: $p-size;
      color: $plain-white;
      border: 1px solid $main-color;
      text-decoration: none;
      margin-right: 10px;
      padding: 10px 35px;
      border-radius: 2px;
      font-weight: 400;
      transition: 0.25s ease-in-out;
      &:hover {
        background-color: $plain-white;
        color: $main-color;
        border: 1px solid $main-color;
      }
    }
  }
  
  @media screen and (max-width: 440px) {
    .oa {
      padding-bottom: 0;
    }
  
    .company-name {
      margin-top: 20px;
    }
  
    .company-name h1 {
      font-size: $h1-mobile;
      text-align: center;
    }
  
    .company-name p {
      padding: 15px 0;
      font-size: $p-mobile;
      text-align: center;
    }
  
    .company-name span {
      display: contents;
    }
  
    .company-contact {
      text-align: center;
    }
  
    .company-name p {
      padding: 5px 0;
    }
  
    .company-contact a {
      font-size: $a-mobile;
    }
  
    .image img {
      margin: 50px auto 0 auto;
      display: block;
      width: 250px;
    }
  }