@import "../globals/variables";
.work-experience {
	padding: 150px 0;
	background-color: $gray;
	h2 {
		padding-bottom: 50px;
		font-size: $h2-size;
		font-family: $main-font;
	}
	.work-box {
		padding-bottom: 30px;
		h5 {
			color: $main-color;
			font-family: $main-font;
			font-size: $h5-size;
			text-transform: uppercase;
			font-weight: 400;
		}
		strong {
			font-family: $third-font;
		}
		p {
			padding: 15px 0;
			font-family: $third-font;
		}
		a {
			color: $main-color;
			text-decoration: none;
		}
	}
}