/* Scale */

.effect button {
  background-color: var(--main-color);
  border: var(--main-color);
}

.effect button:hover {
  background-color: var(--main-color);
  border: var(--main-color);
}

.scale-effect {
  transition: transform 0.3s ease;
}

.scale-effect:hover {
  transform: scale(1.1);
}

/* Shadow */

.shadow-effect {
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shadow-effect:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

/* Color */

.visibility-effect {
  transition: opacity 0.3s ease;
  opacity: 0.8;
}

.visibility-effect:hover {
  opacity: 1;
}
