
/* Scale */

 .scale-efect {
    transition: transform 0.3s ease;
  }
  
  .scale-efect:hover {
    transform: scale(1.1); 
  } 

  /* Shadow */

 /* #root > div > div:nth-child(5) {
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#root > div > div:nth-child(5):hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
} */
