@import "scss/main.scss";
:root {
    /** Colors  **/
    --main-color: #940642;
    --secondary-color: #6a5acd;
    --plain-white: #fff;
    --main-color2: #6a5acd;
    --gray: rgb(240,240,244);
  
    /** Fonts **/
    --main-font: "Teko", sans-serif;
    --second-font: "Titillium", sans-serif;
    --third-font: "Titillium Web", sans-serif;
    /** Sizes **/
    --h1-size: 88px;
    --h2-size: 68px;
    --h5-size: 30px;
    --p-size: 22px;
    --small-p-size: 16px;
    --icon-size: 18px;
  
    /** Mobile **/
    --h1-mobile: 28px;
    --h2-mobile: 26px;
    --h5-mobile: 20px;
    --p-mobile: 16px;
    --a-mobile: 14px;
  }


  #root {
    padding: 20px 0;
  }
  
  
