:root{
    --main-color:#940642;
    --secondary-color: #6a5acd;
    --plain-white: #fff;
    --main-color2:#6a5acd;
}

#root {
    padding: 20px 0;
}

/* Single Product */

.product-filters {
    margin-left: 100px;
}

.image-grid img{
    margin: 0 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

  
.image-grid img:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
    cursor: pointer;
  } 

  .size-selector {
    padding: 10px 15px;
    margin: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    cursor: pointer;
    outline: none;
}

.size-selector:hover {
    border-color: #007bff;
}

.size-selector:focus {
   /* box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); */
   border-color: #007bff;
   outline: none;
}

.size-selector option {
    padding: 10px;
    color: #333;
    background-color: white;
}

.btn-cart{
    width: 90%;
    background-color: var(--main-color);
    color: var(--plain-white);
}

.btn-liked{
    width: 10%;
    background-color: var(--main-color);
    color: var(--plain-white);
    text-align: center;
}

.buttons-container .btn{
    border-radius: 2px;
}

.buttons-container .btn:hover{
    background-color: var(--main-color);
    color: var(--plain-white);
}