@import "landing-page/main-landing";
@import "portofolio/portofolio";
@import "utils/portal";
@import "globals/theme";
@import "globals/header";
@import "globals/responsive";

.search-for {
  h2 {
    font-family: var(--main-font);
    font-size: var(--h-portofolio-size);
  }

  .working-pagination {
    .page-link {
      color: $main-color;
    }
    .active > .page-link {
      background-color: var(--main-color);
      border-color: var(--main-color);
      color: $plain-white;
    }
  }
}

.portofolio-tabs {
  .nav-tabs .nav-link {
    color: var(--main-color);
    font-family: var(--main-font);
  }
}

.main-portofolio-title {
  font-family: $main-font;
  font-size: $h-portofolio-size;
}

.modal-header button{
  color: var(--main-color);
  font-family: var(--main-font);
}

#theme-settings-tab-color{
  color: var(--main-color);
  font-family: var(--main-font);
}