@import "variables";
@import "mixins";

@media screen and (min-width: 1000px) {
  .about-me .p-holder {
    width: 600px;
  }

  .my-skills .skill-row .skills-box p {
    width: 400px;
  }

  .work-experience .work-box p {
    width: 400px;
  }
}

@media screen and (max-width:821px) {
    .company-name{
        margin-top: 0;
    }

    .image{
        margin-top: 60px;
    }
}

@media screen and (max-width: 500px) {
  .main-header {
    margin-bottom: 40px;
  }

  .about-me {
    padding: 50px 0 50px 0;
  }

  .oa {
    padding-bottom: 0;
    .company-name {
      margin-top: 0;
      h1 {
        @include mobileTextSize($h1-mobile);
      }

      p {
        padding: 5px 0;
        @include mobileTextSize($p-mobile);
      }
    }

    .company-contact {
      margin-bottom: 20px;
      text-align: center;
      a {
        font-size: $a-mobile;
      }
    }

    .image {
      img {
        @include mobileImage();
      }
    }
  }
  .about-me {
    h2 {
      @include mobileTextSize($h2-mobile);
    }

    .p-holder {
      padding: 10px 0 10px 0;
      p {
        @include mobileTextSize($p-mobile);
      }
    }

    .btn-holder {
      text-align: center;
      a {
        @include mobileTextSize($a-mobile);
      }
    }
  }

  .my-skills {
    h2 {
      @include mobileTextSize($h2-mobile);
    }

    .skill-row {
      margin: 10px 0 0 0;
    }
    .skills-box {
      margin: 0 0 0 0 !important;
      padding: 15px 0 15px 0;
      text-align: center;

      h5 {
        font-size: $h5-mobile !important;
      }

      p {
        font-size: $p-mobile;
      }
    }
  }

  .work-experience {
    padding: 50px 0;
    h2 {
      @include mobileTextSize($h2-mobile);
      padding-bottom: 0;
    }

    .work-box {
      text-align: center;
      padding-top: 8px;
      padding-bottom: 0;

      h5 {
        @include mobileTextSize($h5-mobile);
      }

      p {
        margin-bottom: 0;
        @include mobileTextSize($p-mobile);
      }
    }
  }

  .certificates {
    padding: 50px 0;
    h2 {
      @include mobileTextSize($h2-mobile);
      padding-bottom: 10px;
    }

    .certificates-box {
      text-align: center;
      padding-bottom: 10px;

      h5 {
        @include mobileTextSize($h5-mobile);
      }

      span {
        @include mobileTextSize($p-mobile);
      }
    }
  }

  .education {
    padding: 50px 0;
    h2 {
      @include mobileTextSize($h2-mobile);
      padding-bottom: 10px;
    }

    .education-box {
      padding-bottom: 0;
      text-align: center;
      h5 {
        @include mobileTextSize($h5-mobile);
      }

      span {
        @include mobileTextSize($p-mobile);
      }
    }
  }
}
