@import "variables";
@import "mixins";

.theme-picker {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: $main-color;
    color: $plain-white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        cursor: pointer;
    }

    svg{
        color: $plain-white!important;
    }
}

.theme-menu { 
    .theme-menu-header{
        display: flex;
        justify-content: space-between;
        h5{
            font-family: $main-font;
        }
        p{
            &:hover{
                cursor: pointer;
            }
        }
    }
    
    .main-color {
        @include circle(#940642);
    }

    .active-color{
            transform: scale(1.1);
    }

    .secondary-color {
        @include circle($secondary-color);
    }

    .third-color {
        @include circle($dark-emerald-green);
    }

    .fourth-color {
        @include circle($jewel-toned-emerald);
    }

    .fifth-color {
        @include circle($saphire-blue);
    }
    .sixth-color {
        @include circle($teal-blue);
    }
    .seventh-color {
        @include circle($navy-blue);
    }
    ul{
        padding: 0;
        margin: 0;
        li{
            margin: 0 2px;
            list-style-type: none;
            display: inline-block;
          &:hover{
            cursor: pointer;
          }  
        }
    }
}